{% extends "videos/base.html" %}

{% block inner_content %}
    <h1>Videos</h1>

    <div>
        <form method="GET">
            <input type="text" name="title" placeholder="video title" value="{{ request.GET.title }}" />
            <input type="text" name="user" placeholder="username" value="{{ request.GET.user }}" />
            <input type="text" name="tags" placeholder="games,fps" value="{{ request.GET.tags }}" />
            <input type="submit" value="Search" />
        </form>
    </div>

    {% for video in object_list %}
        <div>
            <div>
                <a href="{% url "web:videos:video" video.id %}">
                    Title: {{ video.title }} ({{ video.id }})
                </a>
                <br>
                Source: {{ video.source }}<br>
                Filename: {{ video.filename }}<br>
                Username: {{ video.user.username }}
            </div>
            <div>
                Description: {{video.description }}
            </div>
            <div>
                Created at: {{ video.created }}
                Modified at: {{ video.modified }}
            </div>
            <div>Duration: {{ video.duration }} seconds</div>
            <div>
                Thumbnail: {{ video.thumbnail.url }}
                ({{ video.thumbnail.width }} x {{ video.thumbnail.height }})
            </div>
            <div>
                Tags:
                <ul>
                    {% for tag in video.tags.all %}
                        <li>
                            {{ tag.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}