{% extends "videos/base.html" %}

<h2>{{ object.object.title }}</h2>

{% block inner_content %}
    <h1>Video - {{ object.title }} </h1>
    {% if object.user == request.user %}
        <a href = "{% url "web:videos:video_edit" video.id %}">Edit</a>
        <a href = "{% url "web:videos:video_delete" video.id %}">Delete</a>
    {% endif %}
    <div>
        Title: {{ object.title }} ({{ object.id }})<br>
        Source: {{ object.source }}<br>
        Username: {{ object.user.username }}
    </div>
    <div>
        {% if object.source == 'youtube' %}
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ object.id_source }}?rel=0" frameborder="0" allowfullscreen></iframe>
        {% else %}
            Visualiser has not yet been implemented!<br>
            Filename: {{ object.filename }}
        {% endif %}
    </div>
    <div>
        Description: {{object.description }}
    </div>
    <div>
        Created at: {{ object.created }}
        Modified at: {{ object.modified }}
    </div>
    <div>Duration: {{ object.duration }} seconds</div>
    <div>
        Thumbnail: {{ object.thumbnail.url }}
        ({{ object.thumbnail.width }} x {{ object.thumbnail.height }})
    </div>
    <div>
        Tags:
        <ul>
            {% for tag in object.tags.all %}
                <li>
                    {{ tag.name }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Analytics</h2>
        Views: {{ object.rating.views }}
        Unique views: {{ object.rating.unique_views }}
        Shares: {{ object.rating.shares }}
    </div>
    <div>
        <h2>Rating</h2>
        Upvotes: {{ object.rating.upvotes }}<br>
        Downvotes: {{ object.rating.downvotes }}
    </div>
    <div>
        <h2>Comments</h2>
        {% for comment in object.comments.all %}
            <div>
                <div>
                    User: {{ comment.user.username }}
                </div>
                <div>
                    Published: {{ comment.created }}
                    Modified: {{ comment.modified }}
                </div>
                <div>
                    {% if comment.is_removed %}
                        <i>Removed</i>
                    {% else %}
                        {{ comment.content }}
                    {% endif %}
                </div>
            </div>
            <hr>
        {% empty %}
            No comments - be the first one to post!
        {% endfor %}
    </div>
{% endblock %}