{% extends "videos/base.html" %}
{% load static %}

{% block local_scripts %}
    <script src="{% static "js/videos/jquery_youtube_autocomplete.js" %}"></script>
{% endblock %}


{% block inner_content %}
    <h1>Videos</h1>

    <a href="{% url "web:videos:video_create" %}">New video</a>

    <div>
        <form method="GET">
            <div class="ui-widget" style="display:inline;">
                <input type="text" name="title" id="search" placeholder="video title" value="{{ request.GET.title }}" />
            </div>
            <input type="text" name="user" placeholder="username" value="{{ request.GET.user }}" />
            <input type="text" name="tags" placeholder="games,fps" value="{{ request.GET.tags }}" />
            <input type="submit" value="Search" />
        </form>
    </div>

    {% for video in object_list %}
        <div>
            <div>
                <a href="{% url "web:videos:video" video.id %}">
                    Title: {{ video.title }} ({{ video.id }})
                </a>
                <br>
                Source: {{ video.source }}<br>
                Filename: {{ video.filename }}<br>
                Username: {{ video.user.username }}
            </div>
            <div>
                Description: {{video.description }}
            </div>
            <div>
                Created at: {{ video.created }}
                Modified at: {{ video.modified }}
            </div>
            <div>Duration: {{ video.duration }} seconds</div>
            <div>
                Thumbnail:
                {% if video.thumbnail %}
                    <img src="{{ MEDIA_URL }}{{ video.thumbnail }}" width="200" height="150" />
                {% else %}
                    -
                {% endif %}
            </div>
            <div>
                Tags:
                <ul>
                    {% for tag in video.tags.all %}
                        <li>
                            {{ tag.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
        </div>
    {% empty %}
        <div>0 Videos Found</div>
    {% endfor %}
    {% if page_obj %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/videos?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/videos?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}