{% extends "users/base.html" %}
{% load static %}

{% block local_scripts %}
    <script src="{% static "js/users/register_username_availability.js" %}"></script>
{% endblock %}

{% block inner_content %}
    <h1>Sign up</h1>

    {% if user.is_authenticated %}
        You're already logged in!
    {% else %}
        <form method="post" action="">
            {% include "form.html" with required_mark="*" %}
            <input type="submit" value="Sign up" />
        </form>
    {% endif %}

{% endblock %}