{% extends "users/base.html" %}

{% block content %}
    {% for user in object_list %}
        <div>
            <div>{{ user.first_name }} {{ user.last_name }}</div>
            <div>{{ user.username }}</div>
            <div>Joined: {{ user.date_joined }} Last login: {{ user.last_login }}</div>
            <div>
                {% if user.is_staff %}
                    Staff
                {% else %}
                    Member
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}