{% extends "users/base.html" %}

<h2>{{ object.username }}</h2>

{% block content %}
    <h1>User - {{ object.username }}</h1>
    <div>
        <div>Name: {{ object.first_name }} {{ object.last_name }}</div>
        <div>Username: {{ object.username }} ({{ object.id }})</div>
        <div>Joined: {{ object.date_joined }} Last login: {{ object.last_login }}</div>
        <div>
            {% if object.is_staff %}
                Staff
            {% else %}
                Member
            {% endif %}
            {% if object.is_active %}
                (active)
            {% else %}
                (inactive)
            {% endif %}
        </div>
    </div>
{% endblock %}