{% extends "users/base.html" %}

{% block inner_content %}
    <h1>Users</h1>
    {% if user_list %}
        {% for user in user_list %}
            <div>
                <div>Name: {{ user.first_name }} {{ user.last_name }}</div>
                <div>
                    <a href="{% url "web:users:user" user.username %}">
                        Username: {{ user.username }} ({{ user.id }})
                    </a>
                </div>
                <div>Joined: {{ user.date_joined }} Last login: {{ user.last_login }}</div>
                <div>
                    {% if user.is_staff %}
                        Staff
                    {% else %}
                        Member
                    {% endif %}
                    {% if user.is_active %}
                        (active)
                    {% else %}
                        (inactive)
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
        {% if page_obj %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/users?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/users?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        No users.
    {% endif %}
{% endblock %}